*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background: rgb(36, 35, 35);
}
.guild_name {
    font-size: 140px;
    text-align: center;
}
.hello_block {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
}